Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [1]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('5ed787685c9af333d89aacec'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed787e55c9af333d89aacfb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed787685c9af333d89aacf4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787e55c9af333d89aad03'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787685c9af333d89aacf0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787e55c9af333d89aacff'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787685c9af333d89aacf6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787e55c9af333d89aad05'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787685c9af333d89aaced'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed787e55c9af333d89aacfc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed7862a5c9af333d89aace7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed787685c9af333d89aacee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed787e55c9af333d89aacfd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed786e75c9af333d89aace9'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed787685c9af333d89aacf1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed787e55c9af333d89aad00'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed787685c9af333d89aacef'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787e55c9af333d89aacfe'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787e55c9af333d89aad01'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787685c9af333d89aacf3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787e55c9af333d89aad02'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed787e55c9af333d89aad06'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed787685c9af333d89aacf5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed787e55c9af333d89aad04'), 'name': 'William', 'address': 'Central st 954'}

sort("filedname", 1) #ascending <br>
sort("filedname", -1) #descending

In [2]:
mydoc = mycol.find().sort("name",-1) # sort in descending order

for x in mydoc:
    print(x)

{'_id': ObjectId('5ed787685c9af333d89aacf5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed787e55c9af333d89aad04'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed787685c9af333d89aacf7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed787e55c9af333d89aad06'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed787685c9af333d89aacf3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787e55c9af333d89aad02'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787e55c9af333d89aad01'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787685c9af333d89aacef'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787e55c9af333d89aacfe'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed787e55c9af333d89aad00'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed786e75c9af333d89aace9'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed787685c9af333d89aacee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed787e55c9af333d89aacfd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed7862a5c9af333d89aace7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed787685c9af333d89aaced'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed787e55c9af333d89aacfc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed787685c9af333d89aacf6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787e55c9af333d89aad05'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787685c9af333d89aacf0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787e55c9af333d89aacff'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787685c9af333d89aacf4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787e55c9af333d89aad03'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787685c9af333d89aacec'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed787e55c9af333d89aacfb'), 'name': 'Amy', 'address': 'Apple st 652'}