In [1]:
import sys
import pymongo
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

In [3]:
# The find_one() method returns the first occurrence in the selection.
x = mycol.find_one()
print(x)

{'_id': ObjectId('5ed7862a5c9af333d89aace7'), 'name': 'John', 'address': 'Highway 37'}

In [6]:
# The find() method returns all occurrences in the selection.
for x in mycol.find():
    print(x)

{'_id': ObjectId('5ed7862a5c9af333d89aace7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed786e75c9af333d89aace9'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed787685c9af333d89aacec'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed787685c9af333d89aaced'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed787685c9af333d89aacee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed787685c9af333d89aacef'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787685c9af333d89aacf1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed787685c9af333d89aacf2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787685c9af333d89aacf3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787685c9af333d89aacf5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed787685c9af333d89aacf6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787685c9af333d89aacf7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed787e55c9af333d89aacfb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed787e55c9af333d89aacfc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed787e55c9af333d89aacfd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed787e55c9af333d89aacfe'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787e55c9af333d89aacff'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787e55c9af333d89aad00'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed787e55c9af333d89aad01'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787e55c9af333d89aad02'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787e55c9af333d89aad03'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787e55c9af333d89aad04'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed787e55c9af333d89aad05'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787e55c9af333d89aad06'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Return Only Some Fields

In [8]:
for x in mycol.find({},{"_id":0, "name":1,"address":1}):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [11]:
for x in mycol.find({},{ "name": 1, "address": 1 }):
    print(x)

{'_id': ObjectId('5ed7862a5c9af333d89aace7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ed786e75c9af333d89aace9'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ed787685c9af333d89aacec'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed787685c9af333d89aaced'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed787685c9af333d89aacee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed787685c9af333d89aacef'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787685c9af333d89aacf1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed787685c9af333d89aacf2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787685c9af333d89aacf3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787685c9af333d89aacf4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787685c9af333d89aacf5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed787685c9af333d89aacf6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787685c9af333d89aacf7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ed787e55c9af333d89aacfb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ed787e55c9af333d89aacfc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ed787e55c9af333d89aacfd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ed787e55c9af333d89aacfe'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ed787e55c9af333d89aacff'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ed787e55c9af333d89aad00'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ed787e55c9af333d89aad01'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ed787e55c9af333d89aad02'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ed787e55c9af333d89aad03'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ed787e55c9af333d89aad04'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ed787e55c9af333d89aad05'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ed787e55c9af333d89aad06'), 'name': 'Viola', 'address': 'Sideway 1633'}