In [29]:
from pymongo import MongoClient

In [35]:
# Start Client using "mongo" command in another Termial.
# In client terminal execute these both command to create database and collection
# use demo
# db.createCollection("students")
# show dbs
# show collections

In [36]:
client = MongoClient(host='localhost',port=27017)
# print("Connected to MongoDB:")
# print("Database connected")
# mydb = client["demo"]
# student_coll = mydb["student"]

In [37]:
print(client.list_database_names())

['Dataset', 'admin', 'cardData', 'cityData', 'config', 'contactData', 'demo', 'flights', 'hospital', 'local', 'mydatabase', 'support']

In [38]:
# Create database variable to work on any database "demo"
demo_db = client["demo"]

In [39]:
# To fetch all collection inside "demo" database
demo_db.list_collection_names()

['students']

In [40]:
student_coll = demo_db["students"]

# count the number of documents 
students.count_documents({})

0

In [41]:
# Multiple insert
studentlist = [
  { "id":1,"name":"Binod Suman","country":"IN"},
  { "id":2,"name":"Bill Gates","country":"US"},
  { "id":3,"name":"Steve Jobs","country":"US"},
  { "id":4,"name":"Narayan Murthy","country":"IN"},
  { "id":5,"name":"Azim Premji","country":"IN"},
  { "id":6,"name":"Nandan Nilekani","country":"IN"},
  { "id":7,"name":"sundar pichai","country":"IN"}
]

In [42]:
students.insert_many(studentlist)

In [43]:
print("Number of documents: ",students.count_documents({}))

Number of documents  7

In [44]:
# Display all records
for student in students.find():
    print(student)

{'_id': ObjectId('5ed7b84ccfad4773f599cb8e'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb8f'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb90'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb91'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb92'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb93'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb94'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [45]:
# Display limited documents
for student in students.find().limit(2):
    print(student)

{'_id': ObjectId('5ed7b84ccfad4773f599cb8e'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb8f'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}

In [46]:

# Show only name and country details
for student in students.find({},{"_id": 0,"name": 1,"country": 1}):
    print(student)

{'name': 'Binod Suman', 'country': 'IN'}
{'name': 'Bill Gates', 'country': 'US'}
{'name': 'Steve Jobs', 'country': 'US'}
{'name': 'Narayan Murthy', 'country': 'IN'}
{'name': 'Azim Premji', 'country': 'IN'}
{'name': 'Nandan Nilekani', 'country': 'IN'}
{'name': 'sundar pichai', 'country': 'IN'}

In [47]:
# Get all record country is IN
for student in students.find({"country":"IN"}):
    print(student)

{'_id': ObjectId('5ed7b84ccfad4773f599cb8e'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb91'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb92'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb93'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb94'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [48]:
# Get all record id is more than 2
for student in students.find({"id":{"$gt": 2}}):
    print(student)

{'_id': ObjectId('5ed7b84ccfad4773f599cb90'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb91'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb92'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb93'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb94'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [49]:

# Get all record name start with "B"
for student in students.find({"name":{"$regex": "^B"}}):
    print(student)

{'_id': ObjectId('5ed7b84ccfad4773f599cb8e'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb8f'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}

In [50]:
# Sort on name field
# Display all records
for student in students.find().sort("name"):
    print(student)

{'_id': ObjectId('5ed7b84ccfad4773f599cb92'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb8f'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb8e'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb93'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb91'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb90'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5ed7b84ccfad4773f599cb94'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [51]:

#Update Many
myquery = { "country": { "$regex": "^IN" } }
newvalues = { "$set": { "country": "IND" } }

result = students.update_many(myquery, newvalues)

print(result.modified_count, "documents updated.")

5 documents updated.